/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.carousel-item img {
    filter: brightness(50%);
}

.carousel-caption {
    bottom: 50px;
    z-index: 2;
}

.carousel-item h4 {
    font-size: 40px;
    margin-top: 25px;
}


.social-icon i {
    font-size: 20px;
    margin: 5px 0;
    padding: 5px;
    color: white;
}

/* Responsive CSS */
/* Phone Devices */
@media only screen and (max-width:576px) {
    .carousel-caption {
        bottom: 20px;
    }

    .carousel-item {
        padding: 10px 15px;
        font-size: 15px;
    }

    .carousel-item h4 {
        padding: 5px 5px;
        font-size: 15px;
    }

    .carousel-item p {
        padding: 5px 5px;
        font-size: 8px;
    }

    .trusted-company {
        display: none;
    }
}

/* Tab Devices */
@media only screen and (min-width:577px) and (max-width:992px) {
    .trusted-company {
        display: none;
    }
}